window {
	font-size: 17px;
	font-family: "NotoSans Nerd Font";
	background-color: rgba(35, 42, 46, 0.9);
	color: #D3C6AA;
	margin: 0px;
	border: 2px solid #48584E;
    	border-radius: 10px;
}

#entry:selected {
	background-color: #425047;
	border-radius: 15px;
        margin: 0px 2px 0px 2px; 
}

#input{
	background-color: rgba(35, 42, 46, 0.9);
	color: #D3C6AA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10;
	border-bottom-right-radius: 10;
	border-radius: 15px;
	border: 2px solid #48584E;
	margin: 20px;
}
